<%- include("partials/Header2"); -%>
<img id="scrabbleImg2" src="/images/vocabulary6.jpg" alt="scrabble">
<div class="container">
  <div class="wordBox">
    <h3 id="thisword"><%= word %></h3>
    <hr>
    <h6>Synonyms :</h6>
    <p><%= synonyms %></p>
    <br>
    <h6>Explaination :</h6>
    <p><%= explaination %></p>
  </div>
</div>

<%- include("partials/Footer"); -%>
